* {

    margin : 0;
    padding: 0;
  }
html{
    background-color: rgb(207, 207, 207);
    background-image: url(header.jpg);
    background-attachment: fixed;
    background-position: -350px 0 ;
    background-repeat: no-repeat;
}

header {

    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header h1 {
    font-family: "Sofia", sans-serif;
    position: relative;
    text-align: center;
    color: rgb(212, 195, 99);
    font-size: 150px;
}
header div p{
    color: black;
    font-size: 40px;
    text-align: center;

}
h1 a{
    text-decoration: none;
    color: white;
    font-size: 65px;
    text-align: center;
  }


#des {
    top: 0px;
    position: relative;
    height: 100px;
    background-color: black;
}

#des p {
    position: relative;
    top: 27px;
    text-align: center;
    font-size: 35px;
    color: white;
}

#headerImage {
    background-color: white;
    background-attachment:fixed ;
    height: 500px;
}


#section1 {
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(207, 207, 207);
    background-image: url("312431217_703385860702504_8863958630634237203_n.png");
    background-repeat: no-repeat;
    background-position: 8% ;
}


.leftTextBox{
    position: relative;
    left: 200px;
    top: 40px;
    width: 800px;
    height: 400px;
    border: 10px solid white;
    word-wrap: break-word;
}

.rightTextBox{
    position: relative;
    left: 800px;
    top: 40px;
    width: 800px;
    height: 400px;
    border: 10px solid black;
    word-wrap: break-word;
}

.rightTextBox{
    
}




#section2 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(95, 89, 89);
    background-image: url("313011759_1600317650401787_7250900248389839307_n.png");
    background-repeat: no-repeat;
    background-position: 85% ;
}

#section3 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(122, 91, 143);
    background-image: url("313020019_664827885232846_7259141046724681194_n.png");
    background-repeat: no-repeat;
    background-position: 12% ;
}

#section4 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(116, 137, 138);
    background-image: url("313397366_1186299148629271_5022327468583658344_n.png");
    background-repeat: no-repeat;
    background-position: 85% ;
}

#section5 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(44, 33, 33);
    background-image: url("313468286_436559145322910_7778959273456966318_n.png");
    background-repeat: no-repeat;
    background-position: 9% ;
}

#section6 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(25, 46, 49);
    background-image: url("313825918_864882561667644_6774379854325193967_n.png");
    background-repeat: no-repeat;
    background-position: 85% ;
}

#section7 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(71, 95, 81);
    background-image: url("314022518_1159637891614030_1780134201032540163_n.png");
    background-repeat: no-repeat;
    background-position: 12% ;
}

#section8 {
    margin-top: 40px;
    position: relative;
    width: 1920px;
    height: 500px;
    background-color: rgb(166, 168, 138);
    background-image: url("314083964_814151679922835_6306403103827418028_n.png");
    background-repeat: no-repeat;
    background-position: 85% ;
}

footer{
    margin-top: 30px;
    position: relative;
    height: 350px;
    background-color: black;
}

input {
    width: 1000px;
  }

  footer div{
    width: 250px;
    margin-top: 0px;
  }
  
  
  footer a{
    color: white;
    font-size: 25px;
    margin-left: 15px;
    text-decoration: none;
  }
  footer ul {
    position: relative;
    top: 110px;
    left: 140px
  }

  footer ul li{
    margin-top: 5px;
  }

  footer p {
    position: relative;
    color: white;
    font-size: 35px;
    left: 1500px;
    top: 70px
  }
  
  form {
      font-size: 30px;
      top: -050px;
      position: relative;
      left: 800px;
      display: table-cell;

  }
  form label{
      color: white;
  }

  #footerDiv{
      width: 300px;

  }

  #section1 h3 {
      text-align: center;
      font-size: 40px;
  }

  #section2 h3 {
    text-align: center;
    font-size: 40px;
    color: white
}

#section3 h3 {
    text-align: center;
    font-size: 40px;
}

#section4 h3 {
    text-align: center;
    font-size: 40px;
    color: white
}

#section5 h3 {
    text-align: center;
    font-size: 40px;
    color: white;
}

#section6 h3 {
    text-align: center;
    font-size: 40px;
    color: white
}

#section7 h3 {
    text-align: center;
    font-size: 40px;
}

#section8 h3 {
    text-align: center;
    font-size: 40px;
    color: black
}

section ul {
    position: relative;
    left: 80px;
    top: 40px;
    font-size: 30px;

}

#section2 ul{
    color: white
}

#section4 ul{
    color: white
}

#section5 ul{
    color: white
}

#section6 ul{
    color: white
}

#section8 ul{
    color: black
}